<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
  {{ partialCached "head/css.html" . }}
  {{ partialCached "head/js.html" . }}
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?8bef65578c35d0cc0424bbdb3b684d61";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

</head>
<body>

<div class="container">
  <header>
    <h1 class="title">{{ site.Title }}</h1>
    <nav>
      <ul>
        <li>
          <a href="/">首页 </a>
        </li>
        <li>
          <a href="/tags">分类 </a>
        </li>
        <li>
          <a href="/extracts">摘抄 </a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </main>
  <footer>
    <p>Copyright {{ now.Year }}. All rights reserved.</p>
  </footer>
</div>

</body>
</html>
