body >.container{
  margin: 0 auto;
  max-width: 768px;
}
header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}
a {
  text-decoration: none;
}
pre {
  overflow: auto;
  padding: 16px;
}
