
body > .container {
    margin: 0 auto;
    max-width: 768px;
    min-height: 90vh;
}

header {
    margin-bottom: 1rem;
}



header > nav > ul > li {
    display: inline; /* 或者使用 inline-block */
    margin-right: 10px; /* 添加一些间距，可选 */
}

.single-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.single-header h1{
    margin: 0;
}
.single-content {
    margin-top: 4rem;
}


footer {
    margin-top: 1rem;
    text-align: center;
}



pre {
    overflow: auto;
    padding: 16px;
}

img {
    max-width: 100%;
}

.terms {
    margin-top: 2rem;
}